* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

.sliderBar {
    display: flex;
}

#slider {
    margin: 20px;
}

#slider-value {
    margin: 20px 20px 20px 0px;
}

.btn {
    padding: 5px 20px 5px 20px;
    margin: 0 50px;
}

.container {
    width: 940px;
    height: 940px;
    margin: 0 auto;
    border: 8px solid yellowgreen;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1 0 0;
}

.square {
    flex: 1 0 0;
    border: 1px solid grey;
    background-color: darkslategrey;
}